body{text-shadow: 1px 1px #222;color:#DEDEDE;font:normal normal normal 12px arial;}
a{color:#fff;font-weight:bold;text-decoration:none;}
#wrapper{}

.tall #phone			{position:relative;background:url(/media/images/testiphone/iphone_ver.png) top left repeat-x;width:386px;height:728px;  margin: 0 auto;}
.tall #view			{position:absolute;height:486px;width:320px;}
.tall #iphone_status	{position:absolute;height:20px; width:320px;top:130px;left:34px;background:url(/media/images/testiphone/statusbarwebbackground.png) top left repeat-x;}
	.tall #iphone_bars	{position:absolute;height:12px; width:21px;top:3px;left:6px;}
	.tall #iphone_attw	{position:absolute;height:12px; width:33px;top:2px;left:32px;color:#606163;font:normal normal bold 11px tahoma,arial;letter-spacing:-1px;text-shadow: 2px 2px #ECF0F3;}
	.tall #iphone_wifi	{position:absolute;height:12px; width:16px;top:3px;left:70px;background:url(/media/images/testiphone/statusbarwififull.png) top left no-repeat;}
	.tall #iphone_time	{position:absolute;height:12px; width:53px;top:2px;left:138px;color:#363636;font:normal normal bold 11px tahoma,arial;letter-spacing:0px;text-shadow: 2px 2px #ECF0F3;}
	.tall #iphone_batt	{position:absolute;height:12px; width:20px;top:3px;left:295px;background:url(/media/images/testiphone/statusbarbatteryfull.png) top left no-repeat;}
	.tall #safari_address	{position:absolute;height:60px; width:320px;top:150px;left:34px;background:url(/media/images/testiphone/webaddressbarbackground.png) top left repeat-x;}
	.tall #safari_title{text-shadow: 2px 2px #B9C9D8;position:absolute;height:20px; width:230px;top:1px;left:46px;color:#556572;font:normal normal bold 12px/20px arial;text-align:center;}
	.tall #safari_plus{position:absolute;height:24px; width:24px;top:25px;left:9px;background:url(/media/images/testiphone/webaddressbarplusbutton_.png) top left no-repeat;}
	.tall #safari_addressbglt{position:absolute;height:31px; width:8px;top:22px;left:39px;}
	.tall #safari_inputw{position:absolute;height:31px; width:227px;top:22px;left:47px;}
	.tall #safari_input{position:absolute;height:31px;width:227px;top:0px;left:0px;}
	.tall #safari_location{
	position:absolute;
	height:30px;
	width:227px;
	top:0px;
	left:0px;
	line-height:16px;
	font-weight:normal;font-size:14px;font-family:helvetica,Arial;
	border-width:0px;
	color:#8F9591;
	background-color:transparent;
	padding:10px 10px 0px 0px;
	margin:0;}
	/*.tall #safari_location{position:absolute;height:23px;width:222px;top:-1px;left:-7px;font-weight:normal;font-size:14px;line-height:16px;font-family:helvetica,Arial;position:absolute;border-width:0px;color:#8F9591;background-color:transparent;padding:9px 10px 0px 10px;margin:0;} */
	.tall #safari_addressbgrt{position:absolute;height:31px; width:8px;top:22px;left:274px;}
	.tall #safari_refresh{position:absolute;height:24px; width:24px;top:25px;left:288px;background:url(/media/images/testiphone/webaddressbarreloadbutto.png) top left no-repeat;}
.tall #safari_window	{position:absolute;height:356px;width:320px;top:210px;left:34px;background-color:#fff;}
.tall #safari_toolbar	{position:absolute;height:40px;width:320px;top:566px;left:34px;background:url(/media/images/testiphone/toolbar.png) top left no-repeat;}
	.tall #safari_toolbar a{display:block;position:absolute;height:20px;top:12px;}
	.tall #safari_toolbar_back{width:15px;left:28px;}
	.tall #safari_toolbar_forw{width:15px;left:89px;}
	.tall #safari_toolbar_plus{width:18px;left:151px;}
	.tall #safari_toolbar_book{width:24px;left:210px;}
	.tall #safari_toolbar_tabs{width:20px;left:275px;}
.tall #iphone_corner_tl{position:absolute;height:2px; width:2px;top:0px;left:0px;background:url(/media/images/testiphone/tl.gif) top left no-repeat;}
.tall #iphone_corner_tr{position:absolute;height:2px; width:2px;top:0px;left:318px;background:url(/media/images/testiphone/tr.gif) top right no-repeat;}
.tall #iphone_corner_bl{position:absolute;height:2px; width:2px;bottom:0px;left:0px;background:url(/media/images/testiphone/bl.gif) top left no-repeat;}
.tall #iphone_corner_br{position:absolute;height:2px; width:2px;bottom:0px;left:318px;background:url(/media/images/testiphone/br.gif) top left no-repeat;}
.tall #side{left:420px;}

.wide #phone			{position:relative;background:url(/media/images/testiphone/iphone_hor.png) top left repeat-x;width:728px;height:386px;}
.wide #view			{position:absolute;height:335px;width:480px;}
.wide #iphone_status	{position:absolute;height:20px; width:480px;top:31px;left:132px;background:url(/media/images/testiphone/statusbarwebbackground.png) top left repeat-x;}
	.wide #iphone_bars	{position:absolute;height:12px; width:21px;top:3px;left:6px;}
	.wide #iphone_attw	{position:absolute;height:12px; width:33px;top:2px;left:32px;color:#606163;font:normal normal bold 11px tahoma,arial;letter-spacing:-1px;text-shadow: 2px 2px #ECF0F3;}
	.wide #iphone_wifi	{position:absolute;height:12px; width:16px;top:3px;left:70px;background:url(/media/images/testiphone/statusbarwififull.png) top left no-repeat;}
	.wide #iphone_time	{position:absolute;height:12px; width:53px;top:2px;left:228px;color:#363636;font:normal normal bold 11px tahoma,arial;letter-spacing:0px;text-shadow: 2px 2px #ECF0F3;}
	.wide #iphone_batt	{position:absolute;height:12px; width:20px;top:3px;left:455px;background:url(/media/images/testiphone/statusbarbatteryfull.png) top left no-repeat;}
.wide #safari_address	{position:absolute;height:60px; width:480px;top:51px;left:132px;background:url(/media/images/testiphone/webaddressbarbackground.png) top left repeat-x;}
	.wide #safari_title{text-shadow: 2px 2px #B9C9D8;position:absolute;height:20px; width:480px;top:1px;left:0px;color:#556572;font:normal normal bold 12px/20px arial;text-align:center;}
	.wide #safari_plus{position:absolute;height:24px; width:24px;top:25px;left:12px;background:url(/media/images/testiphone/webaddressbarplusbutton_.png) top left no-repeat;}
	.wide #safari_addressbglt{position:absolute;height:31px; width:10px;top:22px;left:40px;}
	.wide #safari_inputw{position:absolute;height:31px; width:386px;top:22px;left:48px;}
	.wide #safari_input{position:absolute;height:31px;width:386px;top:0px;left:0px;}
	.wide #safari_location   {position:absolute;height:23px;width:387px;top:0px;left:-7px;font-weight:normal;font-size:14px;line-height:16px;font-family:helvetica,arial;position:absolute;border-width:0px;color:#8F9591;background-color:transparent;padding:9px 6px 0px 8px;margin:0;}
	.wide #safari_addressbgrt{position:absolute;height:32px; width:10px;top:22px;left:432px;}
	.wide #safari_refresh{position:absolute;height:24px; width:24px;top:25px;left:447px;background:url(/media/images/testiphone/webaddressbarreloadbutto.png) top left no-repeat;}
.wide #safari_window	{position:absolute;height:208px;width:480px;top:111px;left:132px;background-color:#fff;}
.wide #safari_toolbar	{position:absolute;height:32px;width:480px;top:320px;left:132px;background:url(/media/images/testiphone/toolbar_wide.png) top left no-repeat;}
	.wide #safari_toolbar a{display:block;position:absolute;height:16px;top:8px;}
	.wide #safari_toolbar_back{width:11px;left:28px;}
	.wide #safari_toolbar_forw{width:11px;left:135px;}
  .wide #safari_toolbar_plus{width:15px;left:233px;}
	.wide #safari_toolbar_book{width:20px;left:334px;}
	.wide #safari_toolbar_tabs{width:27px;left:437px;}
.wide #iphone_corner_tl{position:absolute;height:2px; width:2px;top:0px;left:0px;background:url(/media/images/testiphone/tl.gif) top left no-repeat;}
.wide #iphone_corner_tr{position:absolute;height:2px; width:2px;top:0px;left:478px;background:url(/media/images/testiphone/tr.gif) top right no-repeat;}
.wide #iphone_corner_bl{position:absolute;height:2px; width:2px;bottom:0px;left:0px;background:url(/media/images/testiphone/bl.gif) top left no-repeat;}
.wide #iphone_corner_br{position:absolute;height:2px; width:2px;bottom:0px;left:478px;background:url(/media/images/testiphone/br.gif) top left no-repeat;}
.wide #side{left:760px;}

.tall #side{position:absolute;top:0px;right:0px;padding:10px 0px;background-color:#000;}
.wide #side{position:absolute;top:0px;right:0px;left:765px;padding:10px 0px;background-color:#000;}
.toggle{border-bottom:1px solid #68A6CD;}
.toggle:hover{cursor:hand;cursor:pointer;}

#sidein{padding:0px 40px;}
#side h1{color:#90B500;visibility:visible;}
#side h3{padding:0;margin:25px 0 0 0;color:#68A6CD;}
#side ul{list-style-type:none;padding:0;margin:0;}
#side ul li{line-height:22px;}
#tips li,#faq li{list-style-type:square;}
#tips ul,#faq ul{list-style-position:inside;}
#tips a{color:#90B500;font-weight:bold;}
#tips table{padding-left:10px;margin-top:10px;}
#tips th{border-bottom:1px solid #90B500;border-top:1px solid #90B500;text-align:left;font-weight:normal;background-color:#000;color:#fff}
#tips th,#tips td{padding:3px 8px;margin:0;line-height:14px;}
#tips td{border-bottom:1px solid #92835C;}
#tips .nm{padding-right:30px;border-right:1px solid #92835C;}
#tips .nh{padding-right:30px;border-right:1px solid #90B500;}
li strong{color:#90B500;font-weight:normal;}
#apps ul li{line-height:20px;}
#spread{background-color:#fff;display:block;height:18px;line-height:20px;width:220px;margin:20px 0;padding:3px 0px 3px 3px;border:5px solid #90B500;text-align:center;}
#spread img{padding:0 10px;}
#footer{padding:70px 0 40px 0;color:#888;font-size:10px;}
#footer a{color:#888;}

.full	{background:url(/media/images/testiphone/statusbarservicefull.png) top left no-repeat;}
.none	{background:url(/media/images/testiphone/statusbarservicenone.png) top left no-repeat;}

.loadingAon{background:url(/media/images/testiphone/UIRoundedTextFieldLeft.png) top left no-repeat;}
.loadingBon{background:url(/media/images/testiphone/UIRoundedTextFieldMiddle.png) top left repeat-x;}
.loadingCon{background:url(/media/images/testiphone/UIRoundedTextFieldRight.png) top left no-repeat;}

.loadingAoff{background:url(/media/images/testiphone/UIRoundedTextFieldLeftInactive.png) top right no-repeat;}
.loadingBoff{background:url(/media/images/testiphone/UIRoundedTextFieldMiddleInactive.png) top right repeat-x;}
.loadingCoff{background:url(/media/images/testiphone/UIRoundedTextFieldRightInactive.png) top right no-repeat;}

.loadingAact{background:url(/media/images/testiphone/UIRoundedTextFieldProgressLeft.png) top left no-repeat;}
.loadingBact{background:url(/media/images/testiphone/UIRoundedTextFieldProgressMiddle.png) top left repeat-x;}
.loadingCact{background:url(/media/images/testiphone/UIRoundedTextFieldProgressRight.png) top left no-repeat;}

#left-panel{display:block; width: 300px; height: 500px; float:left; margin-top: 10px; padding: 10px; background:#222222}
