<!DOCTYPE html>
<html {% if manifest %}manifest="{{ manifest }}"{% endif %}>
  <head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />  	
	<meta name="description" content="{% block description %}HTML5 lưu ảnh chất lượng cao trên điện thoại của Ngọc Trinh, Ngọc Diệp, Ngọc Quyên và nhiều người mẫu khác.{% endblock %}" />
<meta name="keywords" content="{% block keywords %}giải trí, hình hot, hot girl, hot boy, hot clip, game, trò chơi{% endblock %}" />
	<meta name="author" content="AppsVietnam" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
	<link rel="shortcut icon" href="/media/images/favicon.ico" type="image/x-icon" />
    <title>{% block title %}Mobile Models{% endblock %}</title>
    {% block head %}{% endblock %}
	{% block extra_head %}{% endblock %}
  </head>
  <body>
  	{% block body_wrapper %}
		{% block body %}
			{% block extra_body %}{% endblock %}
		{% endblock %}
	{% endblock %}
  </body>
</html>
