{% extends "site_base.html" %}
{% block title %}{{ celebrity_title }}{% endblock %}
{% block extra_head %}
	<link rel="apple-touch-icon" href="{{ celebrity_icon }}" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	{% include "gallery.js.htm" %}
{% endblock %}

{% block body %}
<div data-role="page" id="page">
	<div data-role="header">
		<h1>{{ celebrity_title }}</h1>
		<a rel="external" href="{% url home %}" class='ui-btn-left' data-icon='arrow-l'>Back</a>
	</div>
	<div class="ui-bar ui-bar-b" id="cache-status">
		<h4 id="checking">Đang kiểm tra bộ nhớ.</h4>
		<h4 id="cached">Nội dung đã được lưu hoàn toàn.</h4>
		<h4 id="downloading">Đang tải về <span id="progress">0</span>%</h4>
	</div>
	<div data-role="content" id="content">	
		<p style="margin-top: 0px;">"{{ intro }}"</p>		
		<ul data-role="listview" data-inset="true">
			{% for key,value in albums.items %}
<!-- 				<li><a href="{% url photo name=name album=key %}" data-prefetch>{{ value.title }}</a></li> -->
				<li><a href="{% url photo name=name album=key %}">{{ value.title }}</a></li>
			{% endfor %} 
		</ul>
	</div> <!-- /content --> 
	<div data-role="footer" id="footer">
		<h4>&copy; Giải Trí</h4>
	</div>

</div> <!-- / page -->
{% endblock %}