<!DOCTYPE html>
<html>
<head>
	<link rel="apple-touch-icon" href="{{ celebrity_icon }}" />
	<title>{{ title }}</title>
	<meta name="apple-mobile-web-app-capable" content="no" />
	<meta http-equiv="Refresh" content="0;url={% url celebrity name=name %}">
</head>
<body onload="javascript:top.location.href='{% url celebrity name=name %}';">
	<div data-role="page" id="photos" class="gallery-page">
		<div data-role="header">
			<h1>{{ album }}</h1>
			<a data-rel="back" class='ui-btn-left' data-icon='arrow-l'>Back</a>
		</div>
	
		<div data-role="content">	
			
			<ul class="gallery">
				{% for file in files %}
					<li><a href="{{ file }}" rel="external"><img src="{{ file }}" alt="{{ album }}" /></a></li>
				{% endfor %}
			</ul>
			
		</div>
	</div>
</body>
</html>