{% extends "base.html" %}

{% block head %}
	<link href="/media/css/jquery.mobile.structure-1.0.min.css" rel="stylesheet" />
	<link href="/media/css/jquery-mobile.css" rel="stylesheet" />
	<link href="/media/css/lip-stick-theme.min.css" rel="stylesheet" />
	<link href="/media/css/photoswipe.css" rel="stylesheet" />
	
	<script type="text/javascript" src="/media/js/klass.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery.mobile-1.0.min.js"></script>
	<script type="text/javascript" src="/media/js/code.photoswipe.jquery-3.0.4.min.js"></script>
{% endblock %}

{%block extra_head %}
	{% include "giaitri.js.htm" %}
{% endblock %}
