<div data-role="page" id="page">
	<div data-role="header" data-theme="a" >
		<h1>Giải Trí</h1>
	</div>
	<div data-role="content">
		<div class="ui-grid-b" id="grid">
			{% for celeb in celebs %}
			<div class="ui-block-{% cycle 'a' 'b' 'c' %} image_stack" id="{{ key }}" onclick="javascript: window.location.href='{% url celebrity name=celeb.0 %}';">
				<img class="thumb001" alt="{{ value }}" src="/media/images/thumbs/{{ celeb.0 }}-001.jpg" />
				<img class="thumb002" alt="{{ value }}" src="/media/images/thumbs/{{ celeb.0 }}-001.jpg" />
				<img class="thumb003" alt="{{ value }}" src="/media/images/thumbs/{{ celeb.0 }}-001.jpg" />
				<h6>{{ celeb.1 }}</h6>
			</div>
			{% endfor %}
		</div><!-- /grid-b -->
	</div>
	<div data-role="footer" id="footer">
		<h4>&copy; Giải Trí</h4>
	</div>
</div> <!-- /page -->