{% extends "simulator/site_base.html" %}

{% block description %}HTML5 Các Album ảnh nóng của {{ celebrity_title }}{% endblock %}

{% block title %}Mobile {{ celebrity_title }}{% endblock %}

{% block extra_head %}
 <link rel="image_src" href="/media/images/{{ name }}/{{ name }}-001.jpg" />
 {% include "simulator/gallery.js.htm" %}
{% endblock %}

{% block body %}
<div data-role="page" id="page">
	<div data-role="header">
		<h1>{{ celebrity_title }}</h1>
		<a rel="external" href="{% url home %}" class='ui-btn-left' data-icon='arrow-l'>Back</a>
	</div>
	<div data-role="content">	
		<p>"{{ intro }}"</p>		
		<ul data-role="listview" data-inset="true">
			{% for key,value in albums.items %}
				<li><a href="{% url photo name=name album=key %}" data-prefetch>{{ value.title }}</a></li>
			{% endfor %} 
		</ul>
	</div> <!-- /content --> 
	<div data-role="footer" id="footer">
		<h4>&copy; Giải Trí</h4>
	</div>

</div> <!-- / page -->
{% endblock %}

