{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" type="text/css" media="screen" href="/media/css/testiphone.css" />
	<link href="/media/css/jquery.mobile.structure-1.0.min.css" rel="stylesheet" />
	<link href="/media/css/jquery-mobile.css" rel="stylesheet" />
	<link href="/media/css/lip-stick-theme.css" rel="stylesheet" />
	<link href="/media/css/photoswipe.css" type="text/css" rel="stylesheet" />
	
	<script type="text/javascript" src="/media/js/klass.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery-1.6.4.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery.mobile-1.0.min.js"></script>
	<script type="text/javascript" src="/media/js/code.photoswipe.jquery-3.0.4.min.js"></script>
	<script type="text/javascript" src="/media/js/jquery.social.share.1.2.min.js"></script>
{% endblock %}

{% block extra_head %}
	{% include "simulator/giaitri.js.htm" %}
{% endblock %}

{% block body_wrapper %}
	<div id="social-share"></div>
	<div id="wrapper" class="tall">
		<div id="left-panel">
			<div data-role="header" class="ui-bar-a"><center><h3>Thông Tin</h3></center></div>
			<p>
				Để save toàn bộ album giải trí xuống dế yêu bạn hãy vào trang web <h4><a class="ui-link" href="http://appsvietnam.appspot.com">http://appsvietnam.appspot.com</a></h4> bằng iPhone hoặc Android. 
			</p>
			<p>
				Muốn xem rõ hơn, bạn hãy Double-Tap (Double-Click) vào hình mình đang xem.  
			</p>
			<p>
				Toàn bộ ứng dụng và hình ảnh được lưu cache ở phone của bạn, không cần kết nối Internet vẫn có thể xem được hình đẹp mọi nơi, mọi lúc.  
			</p>
			<p>
				Liên hệ: <a href="mailto:appsvietnam.appspot.com@gmail.com">appsvietnam.appspot.com@gmail.com</a>
			</p>
			<br/>
			{% if name %}
			<p align="center">
				<img alt="{{ celebrity_title }}" src="/media/images/thumbs/{{ name }}-001.jpg" />
			</p>
			{% endif %}
		</div>
		<div id="phone">
			<div id="view">
				<div id="iphone_status">
					<div id="iphone_corner_tl"></div>
					<div id="iphone_bars" class="full"></div>
					<div id="iphone_attw">AT&amp;T</div>
					<div id="iphone_wifi"></div>
					<div id="iphone_time"><!-- <script>document.write(iPhoneDate);</script> --></div>
					<div id="iphone_batt"></div>
					<div id="iphone_corner_tr"></div>
				</div>
				<div id="safari_address">
					<div id="safari_title">Giải Trí</div>
					<div id="safari_plus"></div>
					<div id="safari_addressbglt" class="loadingAoff"></div>
					<div id="safari_inputw">	
					<label id="safari_input" class="loadingBoff">
						<input value="http://appsvietnam.appspot.com" type="text" id="safari_location" disabled="yes"/>
					</label>
					</div>
					<div id="safari_addressbgrt" class="loadingCoff" ></div>
					<a href="/" id="safari_refresh" onclick="return Safari_Refresh(this)"><img src="/media/images/testiphone/x.png" width="24" height="24" alt="Refresh" border="0" /></a>
				</div>
				<div id="safari_window">
					{% block body %}{% endblock %}
				</div>
				<div id="safari_toolbar">
					<div id="iphone_corner_bl"></div>
				<a href="#" data-rel="back" id="safari_toolbar_back" title="Go Back"></a>	
				<a href="#" id="safari_toolbar_forw" title="Go Forward"></a>		
					<a href="http://del.icio.us/post?v=2&url=http://testiphone.com/&title=TestiPhone.com%20-%20iPhone%20Simulator" id="safari_toolbar_plus" title="Bookmark This Page"></a>
					<a href="http://del.icio.us/post?v=2&url=http://testiphone.com/&title=TestiPhone.com%20-%20iPhone%20Simulator" id="safari_toolbar_book" title="Bookmark This Page"></a>	
					<a href="/" onclick="return Rotate_Phone(this)" id="safari_toolbar_tabs" title="Rotate iPhone"></a>	
					<div id="iphone_corner_br"></div>
				</div>
			</div>
			<div style="position:absolute;top:750px;left:100px;">
			</div>
		</div> <!-- /iphone -->
	</div> <!-- /wrapper -->
{% endblock %}
